* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* overflow-y: hidden; */
  text-align: center;
}

.logo-img {
  width: 70%;
  margin: 16px 0px 16px 0px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 48px;
}

.game {
  display: inline-block;
  margin-bottom: 40px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 298px;
  margin: 0 auto;
  border: 2px solid #fff;
}

.cell {
  flex-basis: 100px;
  height: 100px;
  margin: -2px 0 0 -2px;
  background-color: #333;
  border: 2px solid #fff;
  cursor: pointer;
}

.cell:hover {
  background-color: #444;
}

.cell.x::before {
  content: "X";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  line-height: 1;
  color: #fff;
}

.cell.o::before {
  content: "O";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  line-height: 1;
  color: #07A82E;
}

.players {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#new-game {
  width: 100%;
  border-radius: 0;
}

input[type="text"],
button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: #f63c48;
  color: #fff;
  margin: 0 10px;
}

input[type="text"]::placeholder {
  color: #fff;
}

.timeP1, .timeP2 {
  animation: pulse 0.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.10);
  }
}

@keyframes rotate-pulse {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(1.15);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

button:hover {
  background-color: #f63c488a;
}

.winner-message {
  position: absolute;
  top: 10%;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  /* display: none; */
}

.winner span {
  color: #f63c48;
}

.tie span {
  color: #FA6730;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {

  .logo-img {
    width: 70%;
    height: 55px;
    margin: 32px 0px;
  }

  .container {
    padding: 0px 10px;
    height: 100%;
    width: 100%;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8px;
  }

  .board {
    width: 95%;
    height: 45vh;
    border: 1px solid #fff;
  }

  .cell {
    flex-basis: 33.33333%;
    margin: 0px;
    height: 33.3%;
  }

  .cell.x::before,
  .cell.o::before {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .players {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
  }

  form {
    width: 90%;
    transition: opacity 0.5s ease-in-out;
  }

  input[type="text"] {
    width: 70%;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 4px;
  }

  label {
    width: 20%;
    font-size: 16px;
  }

  .winner-message {
    font-size: 22px;
    margin-top: 10px;
  }

  button {
    max-width: 80vw;
    margin: 10px 0px 5px 0px;
  }
}