body {
  background-color: #1c1c1c;
}

#memory-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tile {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000000ae;
}

.tile span {
  opacity: 0;
  /* transition: all 1s; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.btn {
  margin-top: 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #0062cc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
